.page-table {
  border-collapse: collapse;
  width: 100%;
  user-select: none;
  cursor: default;
}

.page-row {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.even-page {
}

.odd-page {
  background-color: #eeeeee;
}

.selected-page {
  background-color: #e0ffff;
}
