:global table {
  border-collapse: collapse;
  width: 100%;
  user-select: none;
  cursor: default;
}

:global td, :global th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

:global tr:nth-child(even) {
  background-color: #eeeeee;
}

:global(.pageSelector) {
  user-select: none;
}

:global(.selectedPage) {
  background-color: #e0ffff;
}
